#container {
  width: 800px;
  height: 700px;
  border: 1px solid #000;
}

@media screen and (min-resolution: 1dppx) {
  #container {
    background-image: url('../img/dog1.jpg');
  }
}

@media screen and (min-resolution: 2dppx) {
  #container {
    background-image: url('../img/dog2.jpg');
  }
}

@media screen and (min-resolution: 3dppx) {
  #container {
    background-image: url('../img/dog3.jpg');
  }
}
